<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="/landing_page">JUKEBOX</a>
    <% if current_user != nil %>
      <a class="navbar-brand" href="/<%=current_user.id%>/music_player">Music Player</a> 
    

      <ul class="nav-pills navbar-brand">
      <li class="dropdown">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle">Request Song<b class="caret"></b></a>   
       <ul class="dropdown-menu">
                    <li><a href="/<%=current_user.id%>/request">My Jukebox</a></li>
                    <li>
                          <%= form_tag '/send_text', :remote => true, class: 'navbar-form black' do %>
                            <%= text_field :send_text_form, :number_to_send_to %>
                            <%= submit_tag "Send Text" %>
                          <% end %>
                    </li>



                    <li class="divider"></li>
                    <li class="dropdown-header">Other Jukeboxes</li>
                      <%User.all.each do |user| %>
                        <%if current_user != user%>
                          <li><a href="/<%=user.id%>/request"><%=user.email%></li>
                        <%end%>
                      <%end%>
                </ul>
            </li>
        </ul>     
  <%end%>

  </div>
  <div class="navbar-header navbar-right">
    
    <% if signed_in? %>
      <p class="navbar-text">
        <%= link_to "Hello, #{current_user.email}" , edit_user_registration_path, :method => :get %>
      </p>
      <p class="navbar-text">
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete%>
      </p>
    <% else %>
      <div id="sign-in">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.email_field :email, autofocus: true, :placeholder => "Email Address" %>
          <%= f.password_field :password, autocomplete: "off", :placeholder => "Password" %>
          <%=f.submit "Sign in" %>
        <% end %>
      </div>
    <% end %>
    
  </div>
</nav>






